openapi: 3.1.0
info:
  title: Refinitiv Data Platform (RDP) APIs Authentication Reference API
  description: Cloud-enabled RESTful API providing access to streaming and non-streaming financial data, news, research, and analytics. It serves as the primary programmatic interface to the breadth of Refinitiv content on the LSEG Data Platform, including historical pricing, ESG data, news, quantitative analytics, symbology, and search services.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Reference
  description: Reference data operations for retrieving profile details and resolution toolkit configurations.
paths:
  /reference/profile/{profileId}:
    get:
      operationId: getProfile
      summary: Get Reference Profile
      description: Retrieves the full reference profile details for a matched entity from the World-Check database, including biographical information, associated countries, linked entities, and source documents.
      tags:
      - Reference
      parameters:
      - name: profileId
        in: path
        required: true
        description: The unique identifier of the World-Check profile.
        schema:
          type: string
      responses:
        '200':
          description: Profile returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          description: Unauthorized
        '404':
          description: Profile not found
components:
  schemas:
    Profile:
      type: object
      properties:
        profileId:
          type: string
          description: The unique identifier of the World-Check profile.
        primaryName:
          type: string
          description: The primary name of the profiled entity.
        entityType:
          type: string
          description: The entity type such as INDIVIDUAL or ORGANISATION.
        categories:
          type: array
          items:
            type: string
          description: Categories such as PEP, Sanctions, Law Enforcement, or Adverse Media.
        countryLinks:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
                description: Country name.
              countryCode:
                type: string
                description: ISO 3166-1 alpha-2 code.
              type:
                type: string
                description: Relationship type such as NATIONALITY or LOCATION.
        sources:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The source name.
              url:
                type: string
                format: uri
                description: The source URL.
        aliases:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The alias name.
              type:
                type: string
                description: The alias type such as AKA, FKA, or DBA.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/oauth2/v1/token endpoint. Access tokens are valid for five minutes.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
