openapi: 3.2.0
info:
  title: Refinitiv LSEG DataScope Select REST Users API
  description: Internet-hosted OData REST API for programmatic access to global pricing, corporate actions, reference data, historical data, cross-reference, and entity data. It provides fully automated extraction workflows and batch processing capabilities for large-scale data retrieval from the DataScope Select platform.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://selectapi.datascope.lseg.com/RestApi/v1
  description: Production Server
security:
- tokenAuth: []
tags:
- name: Users
  description: User account information and preferences management.
paths:
  /Users/Users('{userId}'):
    get:
      operationId: getUser
      summary: Get User Information
      description: Retrieves user account information for the specified user ID.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        required: true
        description: The user identifier.
        schema:
          type: string
      responses:
        '200':
          description: User information returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
        '404':
          description: User not found
components:
  schemas:
    User:
      type: object
      properties:
        UserId:
          type: string
          description: The unique user identifier.
        UserName:
          type: string
          description: The username.
        Email:
          type: string
          description: The user's email address.
        Phone:
          type: string
          description: The user's phone number.
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Session token obtained from the Authentication/RequestToken endpoint. Include as Token followed by the token value.
externalDocs:
  description: DataScope Select REST API Documentation
  url: https://developers.lseg.com/en/api-catalog/datascope-select/datascope-select-rest-api/documentation
