openapi: 3.2.0
info:
  title: Refinitiv Data Platform (RDP) Symbology API
  description: Cloud-enabled RESTful API providing access to streaming and non-streaming financial data, news, research, and analytics. It serves as the primary programmatic interface to the breadth of Refinitiv content on the LSEG Data Platform, including historical pricing, ESG data, news, quantitative analytics, symbology, and search services.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Symbology
  description: Symbol lookup and conversion between different identifier types including RIC, ISIN, CUSIP, SEDOL, and PermID.
paths:
  /discovery/symbology/v1/convert:
    post:
      operationId: convertSymbology
      summary: Convert Symbology Identifiers
      description: Converts financial instrument identifiers between different symbology types such as RIC, ISIN, CUSIP, SEDOL, ticker, and PermID. Supports batch conversion of multiple identifiers in a single request.
      tags:
      - Symbology
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SymbologyConvertRequest'
      responses:
        '200':
          description: Symbology conversion results returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbologyConvertResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  schemas:
    SymbologyConvertRequest:
      type: object
      properties:
        from:
          type: array
          items:
            type: object
            properties:
              identifierTypes:
                type: array
                items:
                  type: string
                description: The source identifier types.
              values:
                type: array
                items:
                  type: string
                description: The identifier values to convert.
          description: Source identifiers to convert from.
        to:
          type: array
          items:
            type: string
          description: Target identifier types to convert to.
    SymbologyConvertResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            description: Conversion results mapping source identifiers to target identifiers.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/oauth2/v1/token endpoint. Access tokens are valid for five minutes.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
