openapi: 3.1.0
info:
  title: Refinitiv Data Platform (RDP) APIs Authentication Screening Results API
  description: Cloud-enabled RESTful API providing access to streaming and non-streaming financial data, news, research, and analytics. It serves as the primary programmatic interface to the breadth of Refinitiv content on the LSEG Data Platform, including historical pricing, ESG data, news, quantitative analytics, symbology, and search services.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Screening Results
  description: Operations for retrieving and managing screening results including matched profiles and resolution workflows.
paths:
  /cases/{caseSystemId}/results:
    get:
      operationId: getScreeningResults
      summary: Get Screening Results
      description: Retrieves detailed screening results for a specific case including all matched profiles, match strength indicators, and resolution status for each match.
      tags:
      - Screening Results
      parameters:
      - $ref: '#/components/parameters/caseSystemId'
      responses:
        '200':
          description: Screening results returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningResultsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Case not found
  /cases/{caseSystemId}/results/{resultId}/resolution:
    put:
      operationId: resolveResult
      summary: Resolve a Screening Result
      description: Resolves a specific screening result match by assigning a resolution status such as True Positive, False Positive, or Unresolved. The valid resolution options depend on the group's resolution toolkit configuration.
      tags:
      - Screening Results
      parameters:
      - $ref: '#/components/parameters/caseSystemId'
      - name: resultId
        in: path
        required: true
        description: The unique identifier of the screening result to resolve.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolutionRequest'
      responses:
        '200':
          description: Result resolved successfully
        '400':
          description: Invalid resolution request
        '401':
          description: Unauthorized
        '404':
          description: Result not found
components:
  schemas:
    ScreeningResult:
      type: object
      properties:
        resultId:
          type: string
          description: The unique identifier of the screening result.
        referenceId:
          type: string
          description: The World-Check reference profile identifier.
        matchStrength:
          type: string
          description: The strength of the match, such as EXACT, STRONG, MEDIUM, or WEAK.
        matchedTerm:
          type: string
          description: The name or term that was matched.
        submittedTerm:
          type: string
          description: The original term submitted for screening.
        matchedNameType:
          type: string
          description: The type of name matched, such as PRIMARY or ALIAS.
        categories:
          type: array
          items:
            type: string
          description: Categories assigned to the matched profile such as PEP, Sanctions, or Adverse Media.
        resolution:
          type: object
          description: The current resolution status of the result, null if unresolved.
          properties:
            statusId:
              type: string
              description: The resolution status identifier.
            riskId:
              type: string
              description: The risk level identifier.
            reasonId:
              type: string
              description: The resolution reason identifier.
    ScreeningResultsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ScreeningResult'
    ResolutionRequest:
      type: object
      required:
      - statusId
      properties:
        statusId:
          type: string
          description: The resolution status to assign, from the resolution toolkit.
        riskId:
          type: string
          description: The risk level to assign, from the resolution toolkit.
        reasonId:
          type: string
          description: The reason for the resolution, from the resolution toolkit.
        remarks:
          type: string
          description: Free-text remarks or notes for the resolution.
  parameters:
    caseSystemId:
      name: caseSystemId
      in: path
      required: true
      description: The system-generated unique identifier for the case.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/oauth2/v1/token endpoint. Access tokens are valid for five minutes.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
