openapi: 3.1.0
info:
  title: Refinitiv Data Platform (RDP) APIs Authentication Extractions API
  description: Cloud-enabled RESTful API providing access to streaming and non-streaming financial data, news, research, and analytics. It serves as the primary programmatic interface to the breadth of Refinitiv content on the LSEG Data Platform, including historical pricing, ESG data, news, quantitative analytics, symbology, and search services.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Extractions
  description: On-demand and scheduled data extraction operations for retrieving pricing, reference, corporate actions, and historical data.
paths:
  /Extractions/Extract:
    post:
      operationId: extractData
      summary: Submit On-Demand Extraction
      description: Submits an on-demand data extraction request. For small result sets, the response is returned synchronously. For larger extractions, the server responds with HTTP 202 Accepted and a Location header for polling the extraction status.
      tags:
      - Extractions
      parameters:
      - name: Prefer
        in: header
        description: Set to respond-async to enable asynchronous processing.
        schema:
          type: string
          default: respond-async
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
      responses:
        '200':
          description: Extraction completed and data returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionResponse'
        '202':
          description: Extraction accepted for asynchronous processing. Poll the Location header URL for status.
          headers:
            Location:
              schema:
                type: string
              description: URL to poll for extraction status and results.
        '400':
          description: Invalid extraction request
        '401':
          description: Unauthorized
  /Extractions/ExtractWithNotes:
    post:
      operationId: extractWithNotes
      summary: Extract Data with Notes
      description: Submits an on-demand extraction request and returns results in JSON format along with extraction notes. Suitable for smaller data sets where JSON output is preferred.
      tags:
      - Extractions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
      responses:
        '200':
          description: Extraction completed with notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionWithNotesResponse'
        '202':
          description: Extraction accepted for asynchronous processing
        '400':
          description: Invalid extraction request
        '401':
          description: Unauthorized
  /Extractions/ExtractRaw:
    post:
      operationId: extractRaw
      summary: Extract Raw Data
      description: Submits an on-demand extraction request optimized for large data sets. Returns results in CSV format compressed with gzip for bandwidth optimization.
      tags:
      - Extractions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
      responses:
        '200':
          description: Raw extraction completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  JobId:
                    type: string
                    description: The extraction job identifier.
                  Notes:
                    type: array
                    items:
                      type: string
                    description: Extraction processing notes.
        '202':
          description: Extraction accepted for asynchronous processing
        '400':
          description: Invalid extraction request
        '401':
          description: Unauthorized
  /Extractions/RawExtractionResults('{jobId}')/$value:
    get:
      operationId: getRawExtractionResults
      summary: Download Raw Extraction Results
      description: Downloads the raw extraction results for a completed extraction job. Results are returned as gzip-compressed CSV data.
      tags:
      - Extractions
      parameters:
      - name: jobId
        in: path
        required: true
        description: The extraction job identifier.
        schema:
          type: string
      responses:
        '200':
          description: Raw extraction data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Job not found or results expired
        '401':
          description: Unauthorized
components:
  schemas:
    ExtractionRequest:
      type: object
      properties:
        ExtractionRequest:
          type: object
          properties:
            '@odata.type':
              type: string
              description: 'The OData type of the extraction request such as #DataScope.Select.Api.Extractions.ExtractionRequests.TickHistoryIntradaySummariesExtractionRequest.'
            ContentFieldNames:
              type: array
              items:
                type: string
              description: List of data field names to include in the extraction.
            IdentifierList:
              type: object
              properties:
                '@odata.type':
                  type: string
                  description: The OData type of the identifier list.
                InstrumentIdentifiers:
                  type: array
                  items:
                    type: object
                    properties:
                      Identifier:
                        type: string
                        description: The instrument identifier value.
                      IdentifierType:
                        type: string
                        description: The type of identifier such as Ric, Isin, or Cusip.
              description: The list of instruments to extract data for.
            Condition:
              type: object
              description: Extraction conditions such as date range and message filters.
    ExtractionWithNotesResponse:
      type: object
      properties:
        Contents:
          type: array
          items:
            type: object
            description: Extracted data rows.
        Notes:
          type: array
          items:
            type: string
          description: Processing notes and warnings from the extraction.
    ExtractionResponse:
      type: object
      properties:
        '@odata.context':
          type: string
          description: OData context URI.
        value:
          type: array
          items:
            type: object
            description: Extracted data rows.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/oauth2/v1/token endpoint. Access tokens are valid for five minutes.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
