openapi: 3.1.0
info:
  title: Refinitiv Data Platform (RDP) APIs Authentication Record Matching API
  description: Cloud-enabled RESTful API providing access to streaming and non-streaming financial data, news, research, and analytics. It serves as the primary programmatic interface to the breadth of Refinitiv content on the LSEG Data Platform, including historical pricing, ESG data, news, quantitative analytics, symbology, and search services.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Record Matching
  description: Match unstructured entity records to PermID identifiers for concordance and entity resolution.
paths:
  /match:
    post:
      operationId: matchRecords
      summary: Match Records to PermIDs
      description: Matches unstructured entity records to PermID identifiers. Accepts entity data such as organization name, address, and identifiers and returns the best matching PermID with confidence scores.
      tags:
      - Record Matching
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              description: CSV-formatted entity records with header row. Columns can include LocalID, Standard Identifier, Name, Country, Street, City, PostalCode, State, and Website.
      responses:
        '200':
          description: Records matched successfully
          content:
            text/plain:
              schema:
                type: string
                description: CSV-formatted matching results with matched PermIDs and confidence scores.
        '400':
          description: Invalid input format
        '401':
          description: Invalid or missing API key
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/oauth2/v1/token endpoint. Access tokens are valid for five minutes.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
