openapi: 3.1.0
info:
  title: Refinitiv Data Platform (RDP) APIs Authentication ESG API
  description: Cloud-enabled RESTful API providing access to streaming and non-streaming financial data, news, research, and analytics. It serves as the primary programmatic interface to the breadth of Refinitiv content on the LSEG Data Platform, including historical pricing, ESG data, news, quantitative analytics, symbology, and search services.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: ESG
  description: Environmental, Social, and Governance data including scores, measures, carbon emissions, and controversy tracking across thousands of companies.
paths:
  /data/environmental-social-governance/v1/views/basic:
    get:
      operationId: getEsgBasic
      summary: Get Basic ESG Scores
      description: Retrieves basic Environmental, Social, and Governance scores for one or more companies. Returns overall ESG scores and individual pillar scores.
      tags:
      - ESG
      parameters:
      - name: universe
        in: query
        required: true
        description: Comma-separated list of instrument identifiers.
        schema:
          type: string
      responses:
        '200':
          description: ESG scores returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsgResponse'
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
  /data/environmental-social-governance/v1/views/measures-full:
    get:
      operationId: getEsgMeasuresFull
      summary: Get Full ESG Measures
      description: Retrieves comprehensive ESG measures including detailed environmental, social, and governance metrics, carbon emissions data, green revenue metrics, and controversy tracking for one or more companies.
      tags:
      - ESG
      parameters:
      - name: universe
        in: query
        required: true
        description: Comma-separated list of instrument identifiers.
        schema:
          type: string
      - name: start
        in: query
        description: Start year for historical ESG data.
        schema:
          type: string
      - name: end
        in: query
        description: End year for historical ESG data.
        schema:
          type: string
      responses:
        '200':
          description: ESG measures returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsgResponse'
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized
components:
  schemas:
    EsgResponse:
      type: object
      properties:
        headers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The field name.
              title:
                type: string
                description: The display title of the field.
              type:
                type: string
                description: The data type of the field.
        data:
          type: array
          items:
            type: array
            items:
              description: Field values corresponding to the headers array.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/oauth2/v1/token endpoint. Access tokens are valid for five minutes.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
