openapi: 3.2.0
info:
  title: Refinitiv PermID Entity Search Record Matching API
  description: RESTful API enabling search of entities by name, ticker, or RIC to return PermIDs, or use PermIDs to retrieve entity information. PermID is an open and free entity identification scheme that provides a unique identifier for organizations, instruments, and quotes across approximately 13 million organizations and 3 million equity quotes.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api-eit.refinitiv.com/permid
  description: Production Server
security:
- apiKeyAuth: []
tags:
- name: Record Matching
  description: Match unstructured entity records to PermID identifiers for concordance and entity resolution.
paths:
  /match:
    post:
      operationId: matchRecords
      summary: Match Records to PermIDs
      description: Matches unstructured entity records to PermID identifiers. Accepts entity data such as organization name, address, and identifiers and returns the best matching PermID with confidence scores.
      tags:
      - Record Matching
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              description: CSV-formatted entity records with header row. Columns can include LocalID, Standard Identifier, Name, Country, Street, City, PostalCode, State, and Website.
      responses:
        '200':
          description: Records matched successfully
          content:
            text/plain:
              schema:
                type: string
                description: CSV-formatted matching results with matched PermIDs and confidence scores.
        '400':
          description: Invalid input format
        '401':
          description: Invalid or missing API key
        '429':
          description: Rate limit exceeded
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-ag-access-token
      description: Open PermID API key. Registered users receive an API key that is shared across PermID Entity Search, Record Matching, and Intelligent Tagging services.
externalDocs:
  description: PermID Entity Search API Documentation
  url: https://developers.lseg.com/en/api-catalog/open-perm-id/permid-entity-search/documentation
