openapi: 3.2.0
info:
  title: Refinitiv Qual-ID Connection API
  description: RESTful API for automating identity verification and document verification processes. It helps organizations comply with regulations and identify potential financial crime using trusted and vetted data sources with normalized data fields. Supports verification across multiple countries using local data sources for identity matching.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.globaldatacompany.com
  description: Production Server
security:
- basicAuth: []
tags:
- name: Connection
  description: Connectivity and authentication testing endpoints.
paths:
  /connection/v1/sayhello/{name}:
    get:
      operationId: sayHello
      summary: Test Connectivity
      description: Tests connectivity to the API server. This endpoint does not require authentication and returns a greeting with the provided name.
      tags:
      - Connection
      security: []
      parameters:
      - name: name
        in: path
        required: true
        description: A name to include in the greeting response.
        schema:
          type: string
      responses:
        '200':
          description: Connectivity test successful
          content:
            text/plain:
              schema:
                type: string
  /connection/v1/testauthentication:
    get:
      operationId: testAuthentication
      summary: Test Authentication
      description: Tests that the provided credentials are valid by returning a greeting with the authenticated username.
      tags:
      - Connection
      responses:
        '200':
          description: Authentication successful
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Invalid credentials
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using Base64-encoded username and password credentials.
externalDocs:
  description: Qual-ID API Documentation
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/qual-id-api/documentation
