openapi: 3.2.0
info:
  title: Refinitiv World-Check One Reference API
  description: RESTful API for integrating LSEG World-Check screening capabilities into existing workflows and internal systems. It enables automated customer and third-party screening for onboarding, KYC, and due diligence processes against the World-Check risk intelligence database, supporting synchronous and asynchronous screening, ongoing monitoring, case management, and audit trail capabilities.
  version: 2.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api-worldcheck.refinitiv.com/v2
  description: Production Server
security:
- hmacAuth: []
tags:
- name: Reference
  description: Reference data operations for retrieving profile details and resolution toolkit configurations.
paths:
  /reference/profile/{profileId}:
    get:
      operationId: getProfile
      summary: Get Reference Profile
      description: Retrieves the full reference profile details for a matched entity from the World-Check database, including biographical information, associated countries, linked entities, and source documents.
      tags:
      - Reference
      parameters:
      - name: profileId
        in: path
        required: true
        description: The unique identifier of the World-Check profile.
        schema:
          type: string
      responses:
        '200':
          description: Profile returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          description: Unauthorized
        '404':
          description: Profile not found
components:
  schemas:
    Profile:
      type: object
      properties:
        profileId:
          type: string
          description: The unique identifier of the World-Check profile.
        primaryName:
          type: string
          description: The primary name of the profiled entity.
        entityType:
          type: string
          description: The entity type such as INDIVIDUAL or ORGANISATION.
        categories:
          type: array
          items:
            type: string
          description: Categories such as PEP, Sanctions, Law Enforcement, or Adverse Media.
        countryLinks:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
                description: Country name.
              countryCode:
                type: string
                description: ISO 3166-1 alpha-2 code.
              type:
                type: string
                description: Relationship type such as NATIONALITY or LOCATION.
        sources:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The source name.
              url:
                type: string
                format: uri
                description: The source URL.
        aliases:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The alias name.
              type:
                type: string
                description: The alias type such as AKA, FKA, or DBA.
  securitySchemes:
    hmacAuth:
      type: apiKey
      in: header
      name: Authorization
      description: HMAC-SHA256 authentication. All requests must include the API key and be signed with the API secret using HMAC-SHA256. The signature is computed over the request method, path, date, and body content, and included in the Authorization header as a base64-encoded value.
externalDocs:
  description: World-Check One API Documentation
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api/documentation
