openapi: 3.1.0
info:
  title: Refinitiv Data Platform (RDP) APIs Authentication Verification API
  description: Cloud-enabled RESTful API providing access to streaming and non-streaming financial data, news, research, and analytics. It serves as the primary programmatic interface to the breadth of Refinitiv content on the LSEG Data Platform, including historical pricing, ESG data, news, quantitative analytics, symbology, and search services.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Verification
  description: Identity and document verification submission and transaction record retrieval.
paths:
  /verifications/v1/verify:
    post:
      operationId: verifyIdentity
      summary: Verify Identity
      description: Submits an identity or document verification request. The API checks the submitted personal information against configured data sources for the specified country and returns verification results including match status for each data source queried.
      tags:
      - Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationRequest'
      responses:
        '200':
          description: Verification completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
        '400':
          description: Invalid verification request
        '401':
          description: Unauthorized
  /verifications/v1/transactionrecord/{transactionRecordId}:
    get:
      operationId: getTransactionRecord
      summary: Get Transaction Record
      description: Retrieves a past verification transaction record by its unique identifier. Returns the full verification results for the specified transaction.
      tags:
      - Verification
      parameters:
      - name: transactionRecordId
        in: path
        required: true
        description: The unique identifier of the transaction record.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Transaction record returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
        '401':
          description: Unauthorized
        '404':
          description: Transaction record not found
components:
  schemas:
    VerificationRequest:
      type: object
      required:
      - AcceptTruliooTermsAndConditions
      - ConfigurationName
      - CountryCode
      - DataFields
      properties:
        AcceptTruliooTermsAndConditions:
          type: boolean
          description: Must be set to true to accept terms and conditions.
        CleansedAddress:
          type: boolean
          description: Whether to use address cleansing before verification.
        ConfigurationName:
          type: string
          description: The configuration name such as Identity Verification.
        ConsentForDataSources:
          type: array
          items:
            type: string
          description: List of data source names for which consent has been obtained.
        CountryCode:
          type: string
          pattern: ^[A-Z]{2}$
          description: ISO 3166-1 alpha-2 country code.
        DataFields:
          type: object
          properties:
            PersonInfo:
              type: object
              properties:
                FirstGivenName:
                  type: string
                  description: First name of the individual.
                MiddleName:
                  type: string
                  description: Middle name of the individual.
                FirstSurName:
                  type: string
                  description: Surname of the individual.
                DayOfBirth:
                  type: integer
                  minimum: 1
                  maximum: 31
                  description: Day of birth.
                MonthOfBirth:
                  type: integer
                  minimum: 1
                  maximum: 12
                  description: Month of birth.
                YearOfBirth:
                  type: integer
                  description: Year of birth.
                Gender:
                  type: string
                  enum:
                  - M
                  - F
                  description: Gender of the individual.
            Location:
              type: object
              properties:
                BuildingNumber:
                  type: string
                  description: Building number.
                UnitNumber:
                  type: string
                  description: Unit or apartment number.
                StreetName:
                  type: string
                  description: Street name.
                StreetType:
                  type: string
                  description: Street type such as St, Ave, Rd.
                Suburb:
                  type: string
                  description: Suburb or city name.
                StateProvinceCode:
                  type: string
                  description: State or province code.
                PostalCode:
                  type: string
                  description: Postal or ZIP code.
            Communication:
              type: object
              properties:
                Telephone:
                  type: string
                  description: Phone number.
                EmailAddress:
                  type: string
                  format: email
                  description: Email address.
            CountrySpecific:
              type: object
              additionalProperties:
                type: object
                additionalProperties:
                  type: string
              description: Country-specific fields keyed by country code.
        VerboseMode:
          type: boolean
          description: When true, returns additional diagnostic information.
    VerificationResponse:
      type: object
      properties:
        TransactionID:
          type: string
          format: uuid
          description: Unique identifier for the verification transaction.
        UploadedDt:
          type: string
          format: date-time
          description: Timestamp when the verification was submitted.
        CountryCode:
          type: string
          description: The country code used for verification.
        ProductName:
          type: string
          description: The product configuration name.
        Record:
          type: object
          properties:
            TransactionRecordID:
              type: string
              format: uuid
              description: Unique identifier for the verification record.
            RecordStatus:
              type: string
              enum:
              - match
              - nomatch
              description: Overall verification result.
            DatasourceResults:
              type: array
              items:
                type: object
                properties:
                  DatasourceName:
                    type: string
                    description: Name of the data source queried.
                  DatasourceFields:
                    type: array
                    items:
                      type: object
                      properties:
                        FieldName:
                          type: string
                          description: The field that was verified.
                        Status:
                          type: string
                          enum:
                          - match
                          - nomatch
                          - missing
                          - censored
                          description: Verification status for this field.
              description: Results from each data source checked.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/oauth2/v1/token endpoint. Access tokens are valid for five minutes.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
