openapi: 3.2.0
info:
  title: Refinitiv LSEG DataScope Select REST Instruments API
  description: Internet-hosted OData REST API for programmatic access to global pricing, corporate actions, reference data, historical data, cross-reference, and entity data. It provides fully automated extraction workflows and batch processing capabilities for large-scale data retrieval from the DataScope Select platform.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://selectapi.datascope.lseg.com/RestApi/v1
  description: Production Server
security:
- tokenAuth: []
tags:
- name: Instruments
  description: Instrument search, validation, and instrument list management operations.
paths:
  /Extractions/InstrumentListGetByName(ListName='{listName}'):
    get:
      operationId: getInstrumentListByName
      summary: Get Instrument List by Name
      description: Retrieves an instrument list by its name, returning the list metadata and contained instruments.
      tags:
      - Instruments
      parameters:
      - name: listName
        in: path
        required: true
        description: The name of the instrument list.
        schema:
          type: string
      responses:
        '200':
          description: Instrument list returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentList'
        '404':
          description: List not found
        '401':
          description: Unauthorized
  /Extractions/InstrumentLists:
    get:
      operationId: listInstrumentLists
      summary: List Instrument Lists
      description: Retrieves all instrument lists defined in the user's account.
      tags:
      - Instruments
      responses:
        '200':
          description: Instrument lists returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentList'
        '401':
          description: Unauthorized
    post:
      operationId: createInstrumentList
      summary: Create Instrument List
      description: Creates a new instrument list with the specified name and instruments.
      tags:
      - Instruments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstrumentList'
      responses:
        '201':
          description: Instrument list created successfully
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  schemas:
    InstrumentList:
      type: object
      properties:
        ListId:
          type: string
          description: The unique identifier of the instrument list.
        Name:
          type: string
          description: The name of the instrument list.
        InstrumentIdentifiers:
          type: array
          items:
            type: object
            properties:
              Identifier:
                type: string
                description: The instrument identifier value.
              IdentifierType:
                type: string
                description: The type of identifier.
              Description:
                type: string
                description: Description of the instrument.
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Session token obtained from the Authentication/RequestToken endpoint. Include as Token followed by the token value.
externalDocs:
  description: DataScope Select REST API Documentation
  url: https://developers.lseg.com/en/api-catalog/datascope-select/datascope-select-rest-api/documentation
