openapi: 3.1.0
info:
  title: Refinitiv Data Platform (RDP) APIs Authentication Ongoing Screening API
  description: Cloud-enabled RESTful API providing access to streaming and non-streaming financial data, news, research, and analytics. It serves as the primary programmatic interface to the breadth of Refinitiv content on the LSEG Data Platform, including historical pricing, ESG data, news, quantitative analytics, symbology, and search services.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Ongoing Screening
  description: Ongoing screening monitoring for cases that have been flagged for continuous surveillance against the World-Check database.
paths:
  /cases/ongoingScreeningUpdates:
    get:
      operationId: getOngoingScreeningUpdates
      summary: Get Ongoing Screening Updates
      description: Retrieves all ongoing screening updates for cases that have been flagged for continuous monitoring. Returns cases where new matches have been found or existing matches have changed since the last screening cycle.
      tags:
      - Ongoing Screening
      parameters:
      - name: since
        in: query
        description: Filter updates since this date-time in ISO 8601 format.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ongoing screening updates returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OngoingScreeningUpdate'
        '401':
          description: Unauthorized
components:
  schemas:
    OngoingScreeningUpdate:
      type: object
      properties:
        caseSystemId:
          type: string
          description: The case that has updated screening results.
        caseId:
          type: string
          description: The client-defined case identifier.
        updateDate:
          type: string
          format: date-time
          description: The date and time of the screening update.
        providerType:
          type: string
          description: The provider type that generated the update.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/oauth2/v1/token endpoint. Access tokens are valid for five minutes.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
