openapi: 3.2.0
info:
  title: Refinitiv LSEG DataScope Select REST Schedules API
  description: Internet-hosted OData REST API for programmatic access to global pricing, corporate actions, reference data, historical data, cross-reference, and entity data. It provides fully automated extraction workflows and batch processing capabilities for large-scale data retrieval from the DataScope Select platform.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://selectapi.datascope.lseg.com/RestApi/v1
  description: Production Server
security:
- tokenAuth: []
tags:
- name: Schedules
  description: Schedule management for recurring extraction jobs.
paths:
  /Extractions/Schedules:
    get:
      operationId: listSchedules
      summary: List Extraction Schedules
      description: Retrieves all extraction schedules defined in the user's account.
      tags:
      - Schedules
      responses:
        '200':
          description: Schedules returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Schedule'
        '401':
          description: Unauthorized
components:
  schemas:
    Schedule:
      type: object
      properties:
        ScheduleId:
          type: string
          description: The unique identifier of the schedule.
        Name:
          type: string
          description: The name of the schedule.
        Trigger:
          type: object
          description: The schedule trigger configuration.
        ListId:
          type: string
          description: The instrument list associated with the schedule.
        ReportTemplateId:
          type: string
          description: The report template associated with the schedule.
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Session token obtained from the Authentication/RequestToken endpoint. Include as Token followed by the token value.
externalDocs:
  description: DataScope Select REST API Documentation
  url: https://developers.lseg.com/en/api-catalog/datascope-select/datascope-select-rest-api/documentation
