openapi: 3.1.0
info:
  title: Refinitiv Data Platform (RDP) APIs Authentication Schedules API
  description: Cloud-enabled RESTful API providing access to streaming and non-streaming financial data, news, research, and analytics. It serves as the primary programmatic interface to the breadth of Refinitiv content on the LSEG Data Platform, including historical pricing, ESG data, news, quantitative analytics, symbology, and search services.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.refinitiv.com
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Schedules
  description: Schedule management for recurring extraction jobs.
paths:
  /Extractions/Schedules:
    get:
      operationId: listSchedules
      summary: List Extraction Schedules
      description: Retrieves all extraction schedules defined in the user's account.
      tags:
      - Schedules
      responses:
        '200':
          description: Schedules returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Schedule'
        '401':
          description: Unauthorized
components:
  schemas:
    Schedule:
      type: object
      properties:
        ScheduleId:
          type: string
          description: The unique identifier of the schedule.
        Name:
          type: string
          description: The name of the schedule.
        Trigger:
          type: object
          description: The schedule trigger configuration.
        ListId:
          type: string
          description: The instrument list associated with the schedule.
        ReportTemplateId:
          type: string
          description: The report template associated with the schedule.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained from the /auth/oauth2/v1/token endpoint. Access tokens are valid for five minutes.
externalDocs:
  description: Refinitiv Data Platform API Documentation
  url: https://developers.lseg.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-platform-apis/documentation
