openapi: 3.2.0
info:
  title: Refinitiv Qual-ID Configuration API
  description: RESTful API for automating identity verification and document verification processes. It helps organizations comply with regulations and identify potential financial crime using trusted and vetted data sources with normalized data fields. Supports verification across multiple countries using local data sources for identity matching.
  version: 1.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api.globaldatacompany.com
  description: Production Server
security:
- basicAuth: []
tags:
- name: Configuration
  description: Configuration retrieval for country codes, fields, consents, and test entities required for verification requests.
paths:
  /configuration/v1/countrycodes/{configurationName}:
    get:
      operationId: getCountryCodes
      summary: Get Supported Country Codes
      description: Retrieves the list of ISO 3166-1 alpha-2 country codes supported for a given configuration such as Identity Verification or Document Verification.
      tags:
      - Configuration
      parameters:
      - name: configurationName
        in: path
        required: true
        description: The configuration name, such as Identity Verification.
        schema:
          type: string
      responses:
        '200':
          description: Country codes returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  pattern: ^[A-Z]{2}$
                  description: ISO 3166-1 alpha-2 country code.
        '401':
          description: Unauthorized
  /configuration/v1/fields/{configurationName}/{countryCode}:
    get:
      operationId: getFields
      summary: Get Verification Fields
      description: Retrieves the required and optional data fields for a specific country and configuration. The response defines the JSON schema for the verification request data fields.
      tags:
      - Configuration
      parameters:
      - name: configurationName
        in: path
        required: true
        description: The configuration name.
        schema:
          type: string
      - name: countryCode
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code.
        schema:
          type: string
          pattern: ^[A-Z]{2}$
      responses:
        '200':
          description: Field definitions returned successfully
          content:
            application/json:
              schema:
                type: object
                description: JSON schema describing required and optional fields for the verification request.
        '401':
          description: Unauthorized
  /configuration/v1/consents/{configurationName}/{countryCode}:
    get:
      operationId: getConsents
      summary: Get Consent Requirements
      description: Retrieves the list of data sources that require explicit consent before verification can be performed for a given country and configuration.
      tags:
      - Configuration
      parameters:
      - name: configurationName
        in: path
        required: true
        description: The configuration name.
        schema:
          type: string
      - name: countryCode
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code.
        schema:
          type: string
          pattern: ^[A-Z]{2}$
      responses:
        '200':
          description: Consent requirements returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Data source name requiring consent.
        '401':
          description: Unauthorized
  /configuration/v1/testentities/{configurationName}/{countryCode}:
    get:
      operationId: getTestEntities
      summary: Get Test Entities
      description: Retrieves test entity data for sandbox testing. Available only for sandbox accounts and returns sample identity data that can be used to test verification requests.
      tags:
      - Configuration
      parameters:
      - name: configurationName
        in: path
        required: true
        description: The configuration name.
        schema:
          type: string
      - name: countryCode
        in: path
        required: true
        description: ISO 3166-1 alpha-2 country code.
        schema:
          type: string
          pattern: ^[A-Z]{2}$
      responses:
        '200':
          description: Test entities returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Sample entity data for testing.
        '401':
          description: Unauthorized
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using Base64-encoded username and password credentials.
externalDocs:
  description: Qual-ID API Documentation
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/qual-id-api/documentation
