openapi: 3.2.0
info:
  title: Refinitiv World-Check One Ongoing Screening API
  description: RESTful API for integrating LSEG World-Check screening capabilities into existing workflows and internal systems. It enables automated customer and third-party screening for onboarding, KYC, and due diligence processes against the World-Check risk intelligence database, supporting synchronous and asynchronous screening, ongoing monitoring, case management, and audit trail capabilities.
  version: 2.0.0
  contact:
    name: LSEG Developer Support
    url: https://developers.lseg.com/en/support
  termsOfService: https://developers.lseg.com/en/terms-and-conditions
servers:
- url: https://api-worldcheck.refinitiv.com/v2
  description: Production Server
security:
- hmacAuth: []
tags:
- name: Ongoing Screening
  description: Ongoing screening monitoring for cases that have been flagged for continuous surveillance against the World-Check database.
paths:
  /cases/ongoingScreeningUpdates:
    get:
      operationId: getOngoingScreeningUpdates
      summary: Get Ongoing Screening Updates
      description: Retrieves all ongoing screening updates for cases that have been flagged for continuous monitoring. Returns cases where new matches have been found or existing matches have changed since the last screening cycle.
      tags:
      - Ongoing Screening
      parameters:
      - name: since
        in: query
        description: Filter updates since this date-time in ISO 8601 format.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Ongoing screening updates returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OngoingScreeningUpdate'
        '401':
          description: Unauthorized
components:
  schemas:
    OngoingScreeningUpdate:
      type: object
      properties:
        caseSystemId:
          type: string
          description: The case that has updated screening results.
        caseId:
          type: string
          description: The client-defined case identifier.
        updateDate:
          type: string
          format: date-time
          description: The date and time of the screening update.
        providerType:
          type: string
          description: The provider type that generated the update.
  securitySchemes:
    hmacAuth:
      type: apiKey
      in: header
      name: Authorization
      description: HMAC-SHA256 authentication. All requests must include the API key and be signed with the API secret using HMAC-SHA256. The signature is computed over the request method, path, date, and body content, and included in the Authorization header as a base64-encoded value.
externalDocs:
  description: World-Check One API Documentation
  url: https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api/documentation
